/* ============================================
   DIGIKODER SPIRIT - Custom Fonts (Local)
   ============================================ */

/* 1. Indie Flower - Handwritten style */
@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/indie-flower.woff2') format('woff2');
}

/* 2. Cherry Swash - Decorative serif */
@font-face {
  font-family: 'Cherry Swash';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/cherry-swash-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Cherry Swash';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/cherry-swash-bold.woff2') format('woff2');
}

/* 3. Open Sans - Clean sans-serif */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/open-sans-light.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/open-sans-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/open-sans-semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/open-sans-bold.woff2') format('woff2');
}

/* 4. Raleway - Elegant sans-serif */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/raleway-light.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/raleway-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/raleway-semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/raleway-bold.woff2') format('woff2');
}

/* 5. Playfair Display - Elegant serif */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/playfair-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/playfair-semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/playfair-bold.woff2') format('woff2');
}

/* 6. Lato - Modern sans-serif */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/lato-light.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/lato-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/lato-bold.woff2') format('woff2');
}

/* 7. Merriweather - Classic serif */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/merriweather-light.woff2') format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/merriweather-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/merriweather-bold.woff2') format('woff2');
}

/* 8. Montserrat - Geometric sans-serif */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/montserrat-light.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/montserrat-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/montserrat-semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/montserrat-bold.woff2') format('woff2');
}

/* 9. Roboto Slab - Modern serif */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/robotoslab-light.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/robotoslab-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/robotoslab-semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/robotoslab-bold.woff2') format('woff2');
}

/* 10. Dancing Script - Cursive style */
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/dancingscript-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/dancingscript-semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/dancingscript-bold.woff2') format('woff2');
}

/* Font family utility classes */
.font-indie-flower { font-family: 'Indie Flower', cursive; }
.font-cherry-swash { font-family: 'Cherry Swash', cursive; }
.font-open-sans { font-family: 'Open Sans', sans-serif; }
.font-raleway { font-family: 'Raleway', sans-serif; }
.font-playfair { font-family: 'Playfair Display', serif; }
.font-lato { font-family: 'Lato', sans-serif; }
.font-merriweather { font-family: 'Merriweather', serif; }
.font-montserrat { font-family: 'Montserrat', sans-serif; }
.font-roboto-slab { font-family: 'Roboto Slab', serif; }
.font-dancing { font-family: 'Dancing Script', cursive; }
